/* title */
.title {
    margin-bottom: 30px;
    color: #44463B;
}

/* insert btn */
.btn-insert {
    margin: 0 20px 20px 0;
    display: flex;
    justify-content: flex-end;
}

.btn-insert button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #E3E9C7;
    color: #44463B;
}

.btn-insert button:hover {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}

/* content */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

/* card */
.card {
    border: 1px solid #44463B;
    padding: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.card-content img {
    max-width: 100%;
    margin: 0 auto;
}

.btn-detail {
    display: flex;
    justify-content: flex-end;
}

.btn-detail button {
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background-color: #E3E9C7;
    color: #44463B;
}

.btn-detail button:hover{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    transform: translateY(-1px);
    background-color: #44463B;
    color: #E3E9C7;
}

/* modal */
.modal-container{
    
}